<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.onload = () => {
            fetch('http://localhost:8080/isLogged', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(data => {
                if(data.isLogged) {
                    console.log(data.isLogged)
                    showElems();
                    document.getElementById("user-title").innerHTML = `Bienvenido ${data.usuario}`
                }
            })
        }

        const socket = io();

        socket.on('mostrarProductos', (data) => {
            render(data)
        });

        socket.on('mostrarMensajes', data => {
            renderMensaje(data);
        })

        function enviarProducto() {
            let form = document.getElementById('form');
            let title = document.getElementById('title');
            let precio = document.getElementById('price');
            let img = document.getElementById('thumbnail');
            let producto = {
                title: title.value,
                price: precio.value,
                thumbnail: img.value
            }
            socket.emit('guardarProducto',producto);
            form.reset()
        }

        function render(data) {
            if(Array.isArray(data)){
                let html = 
            data.map(elem => {
        return`
            <div style="display: grid; grid-template-rows: 40px 1fr; grid-template-colums: 1fr; grid-gap: 5px">
                <div style="display: flex;">
                    <p style="width: 150px;">titulo</p>
                    <p style="width: 70px;">precio</p>
                    <p>imagen</p>
                </div>
                <div id="productos">
                            <div style="display: flex;">
                                <p style="width: 150px;">${elem.title}</p>
                                <p style="width: 70px;">${elem.price}</p>
                                <img style="width: 25px; heigth: 25px" src="${elem.thumbnail}" alt="">
                            </div>
                </div>
            </div>
                `
            }).join(' ')
            document.getElementById('productos').innerHTML = html;
            } else {
                document.getElementById('productos').innerHTML = "No hay productos cargados"
            }
        }

        function enviarMensaje() {
            let form = document.getElementById("formMensaje");;
            let mail = document.getElementById("mail");
            let mensaje = document.getElementById("mensaje");
            if(mail.value !== '') {
                let msg = {mail: mail.value, text: mensaje.value};
                socket.emit('enviar', msg)
            }
        }

        function renderMensaje(mensajes) {
            let mensajesContainer = document.getElementById("mensajes");
            let html = mensajes.map(e => {
                return `<strong><span style="color: blue">${e.mail} </span><span style="color: brown">[${e.fecha}] :</span></strong><span>${e.text}</span></br>`
            }).join(' ');
            mensajesContainer.innerHTML = html;
        }

        function showElems() {
            document.getElementById('loginBox').style.display = 'none';
            document.getElementById("form").style.display = 'flex';
            document.getElementById("productos").style.display = "block";
            document.getElementById("mensajesBox").style.display = "block";
        }

        function login() {
            let user = document.getElementById('user');
            showElems();
            document.getElementById("user-title").innerHTML = `Bienvenido ${user.value}`
            const data = {usuario: user.value}
            fetch(`http://localhost:8080/login?usuario=${user.value}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => console.log(response))
        }

        function logout() {
            fetch('http://localhost:8080/logout', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        }
    </script>
</head>
<body>
    <div id="loginBox">
        <form>
            <h3>Login</h3>
            <label for="user">Ingrese su nombre</label>
            <input type="text" name="user" id="user">
            <input type="button" value="Enviar" onclick="login()">
        </form>
    </div>
    <form id="form" style="display: none; justify-content: center;">
        <div style="display: flex; flex-direction: column; align-items: center;justify-content: center;width: 70%;">
            <h2 id="user-title"></h2>
            <button onclick="logout()">Desloguear</button>
            <h3>Agregar producto</h3>
            <label for="title">Titulo</label>
            <input style="width: 50%;" id="title" name="title" type="text">
    
            <label for="price">Precio</label>
            <input style="width: 50%;" name="price" id="price" type="text">
    
            <label for="thumbnail">URL imagen</label>
            <input style="width: 50%;" name="thumbnail" id="thumbnail" type="text">
    
            <input style="width: 50%; margin-top: 5px; cursor: pointer;" type="button" value="Agregar" onclick="enviarProducto()">
        </div>
    </form>
    <div id="productos" style="display: none"></div>
    <div id='mensajesBox' style="display: none;">
        <h1>Mensajes</h1>
        <form id="formMensaje">
            <label for="mail"></label>
            <input id="mail" name="mail" type="email">
            <br>
            <div id="mensajes"></div>
            <br>
            <label for="mensaje">mensaje</label>
            <input type="text" name="mensaje" id="mensaje">
            <input type="button" value="Enviar" onclick="enviarMensaje()">
        </form>
    </div>
</body>
</html>