{{#if listExist}}
<div style="display: grid; grid-template-rows: 40px 1fr; grid-template-colums: 1fr; grid-gap: 5px">
    <div style="display: flex;">
        <p style="width: 150px;">titulo</p>
        <p style="width: 70px;">precio</p>
        <p>imagen</p>
    </div>
    <div>
        {{#each listaProd}}
        <div style="display: flex;">
            <p style="width: 150px;">{{this.title}}</p>
            <p style="width: 70px;">{{this.price}}</p>
            <img style="width: 25px; heigth: 25px" src="{{this.thumbnail}}" alt="">
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

{{#if listNotExist}}
    <h1>No hay productos cargados</h1>
{{/if}}